@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: 300;
}

html {
  font-size: 14px;
  color: #333;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
}
body.overflow {
  overflow: hidden;
  padding-right: 17px;
}

/* =================== */
/* txt */
/* =================== */
.nt-serif {
  font-family: "Noto Serif TC";
}

.cg {
  font-family: "Cormorant Garamond";
}

h3, h3 {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

h4, h4 {
  font-size: 28px;
  letter-spacing: 2px;
}

h5, h5 {
  font-size: 22px;
  letter-spacing: 1px;
}

h6, h6 {
  font-size: 18px;
  letter-spacing: 1px;
}

.p-16 {
  font-size: 16px;
  letter-spacing: 2px;
}

p, .p {
  font-size: 14px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

small {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.txt-mid {
  font-weight: 400;
}

.txt-bold {
  font-weight: 500;
}

/* color */
.txt-sub {
  color: #ff4f19;
}

.txt-gray {
  color: #bbb;
}

.txt-white {
  color: #fff;
  opacity: 0.85;
}

.lh-2 {
  line-height: 2;
}

/* =================== */
/* view */
/* =================== */
/* portfolio area */
#portfolio {
  width: 100%;
}

.contant {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto;
}
@media screen and (max-width: 768px) {
  .contant {
    margin: 30px auto;
  }
}

.portfolio_top {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: left;
}
.portfolio_top .title {
  max-width: 800px;
  margin-bottom: 20px;
  text-align: left;
  text-align: center;
}
.portfolio_top .info {
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .portfolio_top .info {
    line-height: 1.5;
  }
}

/* work item */
.portfolio_box {
  margin: 0 -20px;
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.portfolio_box::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  display: block;
}
.portfolio_box::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.portfolio_box .item {
  width: calc(50% - 40px);
  margin: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .portfolio_box .item:hover .pic figure.cover {
    -webkit-animation: ani1 16s -2.8s infinite;
            animation: ani1 16s -2.8s infinite;
  }
}
.portfolio_box .item:hover .pic::after {
  background-color: rgba(255, 255, 255, 0);
}
.portfolio_box .item .pic {
  width: 100%;
  position: relative;
}
.portfolio_box .item .pic figure {
  width: 100%;
  padding-bottom: 56%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.portfolio_box .item .pic figure.cover {
  position: absolute;
  top: 0;
  left: 0;
}
@-webkit-keyframes ani1 {
  0% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani1 {
  0% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ani2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ani2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.portfolio_box .item .pic::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.portfolio_box .item .text {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.portfolio_box .item .text .tech {
  width: 100%;
}
.portfolio_box .item .text .tech > span {
  width: 100%;
  margin-top: 5px;
  display: block;
  position: relative;
}
.portfolio_box .item .text .tech > span:nth-child(1) {
  margin-top: 10px;
}
.portfolio_box .item .text .tech > span::before {
  content: "";
  width: 5px;
  height: 5px;
  margin-top: 8px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #ff4f19;
  display: inline-block;
  vertical-align: top;
}
.portfolio_box .item .text .tech > span .in {
  width: calc(100% - 12px);
  display: inline-block;
  vertical-align: top;
  opacity: 0.7;
}
.portfolio_box .item .text .info {
  margin-top: 10px;
}
.portfolio_box .item .text a {
  width: 100%;
  margin-top: 15px;
  padding: 3px 10px;
  text-align: center;
  border: 1px solid #777;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.portfolio_box .item .text a:hover {
  opacity: 1;
  border: 1px solid #ff4f19;
  color: #ff4f19;
}
@media screen and (max-width: 768px) {
  .portfolio_box {
    margin: 0;
    padding-top: 0;
  }
  .portfolio_box::before, .portfolio_box::after {
    display: none;
  }
  .portfolio_box .item {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  }
}

/* footer */
footer {
  padding: 20px 0;
  background-color: #222;
}

/* lightbox */
#side_lightbox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
  display: none;
}
#side_lightbox.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#side_lightbox.closing {
  pointer-events: none;
}
#side_lightbox.closing .cover {
  -webkit-animation: coverAni2 0.3s both;
          animation: coverAni2 0.3s both;
}
#side_lightbox.closing .box {
  -webkit-animation: boxAni2 0.3s both;
          animation: boxAni2 0.3s both;
}
#side_lightbox .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  display: block;
  -webkit-animation: coverAni 0.3s both;
          animation: coverAni 0.3s both;
}
#side_lightbox .picbox {
  width: 60%;
  height: 100%;
  padding: 30px;
  overflow: auto;
  z-index: 6;
}
#side_lightbox .picbox .pic_item {
  width: 60%;
}
#side_lightbox .picbox .pic_item img {
  width: 100%;
}
#side_lightbox .box {
  width: 90%;
  max-width: 800px;
  height: 100%;
  padding: 30px;
  overflow: auto;
  background-color: #f4f4f4;
  background: -o-linear-gradient(bottom right, #f4f4f4, #efeee8);
  background: -webkit-gradient(linear, left top, right bottom, from(#f4f4f4), to(#efeee8));
  background: -o-linear-gradient(top left, #f4f4f4, #efeee8);
  background: linear-gradient(to bottom right, #f4f4f4, #efeee8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px 0 0 15px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: boxAni 0.3s both;
          animation: boxAni 0.3s both;
}
#side_lightbox .box > img {
  width: 100%;
  margin: 30px 0;
  display: block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 6px;
          box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 6px;
}
#side_lightbox .box .title {
  margin: 0 10px 30px;
}
#side_lightbox .box .title h5 {
  margin-bottom: 5px;
}
#side_lightbox .box .title p {
  margin-bottom: 5px;
}
#side_lightbox .box .title a {
  margin-top: 20px;
  display: block;
}
#side_lightbox .box .title .btn {
  margin-top: 10px;
  padding: 7px 20px;
  border: 1px solid #ff4f19;
  color: #ff4f19;
  display: inline-block;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
#side_lightbox .box .title .btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
#side_lightbox .box .lightbox_info {
  max-width: 600px;
  margin: 30px 10px;
}
#side_lightbox .box .lightbox_info .info_title {
  margin-bottom: 10px;
}

@-webkit-keyframes coverAni {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes coverAni {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@-webkit-keyframes coverAni2 {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes coverAni2 {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes boxAni {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes boxAni {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes boxAni2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes boxAni2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}/*# sourceMappingURL=main.css.map */