@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
}

html {
  font-size: 15px;
  color: #333;
}

body {
  min-height: 100vh;
  background-color: #efeee8;
  background: -webkit-linear-gradient(left top, #f4f4f4, #efeee8);
  background: -o-linear-gradient(bottom right, #f4f4f4, #efeee8);
  background: -webkit-gradient(linear, left top, right bottom, from(#f4f4f4), to(#efeee8));
  background: -webkit-linear-gradient(top left, #f4f4f4, #efeee8);
  background: -o-linear-gradient(top left, #f4f4f4, #efeee8);
  background: linear-gradient(to bottom right, #f4f4f4, #efeee8);
}

body.overflow {
  overflow: hidden;
  padding-right: 17px;
}

/* =================== */
/* txt */
/* =================== */
h5 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

p {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 2px;
}

small {
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: .5px;
}

/* color */
.txt-sub {
  color: #ff4f19;
}

.txt-gary {
  color: #aaa;
}

/* =================== */
/* view */
/* =================== */
/* portfolio area */
#portfolio {
  width: 100%;
}

.contant {
  padding: 50px;
  margin: auto;
}

.contant .top {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 40px;
  text-align: left;
}

.contant .top .title {
  max-width: 800px;
  margin-bottom: 40px;
  text-align: left;
}

.contant .top .title h4 {
  position: relative;
  padding-left: 15px;
  /* color: #fff; */
}

.contant .top .title h4:after {
  content: '';
  width: 5px;
  height: 100%;
  background-color: #ff4f19;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.contant .top .title h4 span {
  display: block;
  font-size: .7em;
  color: #ff4f19;
}

.contant .top .info {
  max-width: 800px;
  line-height: 2;
  /* color: #fff; */
  /* opacity: .8; */
}

/* work item */
.portfolio_box {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.portfolio_box .item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(25% - 10px);
      -ms-flex: 0 0 calc(25% - 10px);
          flex: 0 0 calc(25% - 10px);
  width: calc(25% - 10px);
  margin: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.portfolio_box .item figure {
  padding-bottom: 56%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

.portfolio_box .item figure::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

.portfolio_box .item .text {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  opacity: .8;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.portfolio_box .item .text p {
  text-shadow: 0 0 20px #000;
  white-space: nowrap;
  overflow: hidden;
}

.portfolio_box .item .tag {
  max-width: 100%;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  opacity: .85;
  color: #ff4f19;
}

.portfolio_box .item .tag span {
  margin-left: 5px;
  display: inline-block;
}

.portfolio_box .item:hover figure {
  background-size: 107% 107%;
}

.portfolio_box .item:hover figure::before {
  opacity: 0;
}

.portfolio_box .item:hover .text {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

/* footer */
footer {
  padding: 30px 0;
  background-color: #ccc;
}

/* lightbox */
#side_lightbox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
  display: none;
}

#side_lightbox.active {
  display: block;
}

#side_lightbox.closing {
  pointer-events: none;
}

#side_lightbox.closing .cover {
  -webkit-animation: coverAni2 .3s both;
          animation: coverAni2 .3s both;
}

#side_lightbox.closing .box {
  -webkit-animation: boxAni2 .3s both;
          animation: boxAni2 .3s both;
}

#side_lightbox .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  display: block;
  -webkit-animation: coverAni .3s both;
          animation: coverAni .3s both;
}

#side_lightbox .box {
  width: 90%;
  max-width: 800px;
  height: 100%;
  padding: 30px;
  overflow: auto;
  background-color: #f4f4f4;
  background: -webkit-linear-gradient(left top, #f4f4f4, #efeee8);
  background: -o-linear-gradient(bottom right, #f4f4f4, #efeee8);
  background: -webkit-gradient(linear, left top, right bottom, from(#f4f4f4), to(#efeee8));
  background: -webkit-linear-gradient(top left, #f4f4f4, #efeee8);
  background: -o-linear-gradient(top left, #f4f4f4, #efeee8);
  background: linear-gradient(to bottom right, #f4f4f4, #efeee8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px 0 0 15px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: boxAni .3s both;
          animation: boxAni .3s both;
}

#side_lightbox .box > img {
  width: 100%;
  margin: 40px 0;
  display: block;
}

#side_lightbox .box .title {
  margin: 0 10px 40px;
}

#side_lightbox .box .title h5 {
  margin-bottom: 5px;
}

#side_lightbox .box .title p {
  margin-bottom: 5px;
}

#side_lightbox .box .title .btn {
  margin-top: 10px;
  padding: 7px 20px;
  border: 1px solid #ff4f19;
  color: #ff4f19;
  display: inline-block;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

#side_lightbox .box .title .btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

#side_lightbox .box .lightbox_info {
  max-width: 600px;
  margin: 40px 10px;
}

#side_lightbox .box .lightbox_info .info_title {
  margin-bottom: 10px;
}

@-webkit-keyframes coverAni {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes coverAni {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@-webkit-keyframes coverAni2 {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes coverAni2 {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes boxAni {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes boxAni {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes boxAni2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes boxAni2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
/*# sourceMappingURL=main.css.map */