@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap');

$color-prime: #ff4f19;

*{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-weight: 300;
}
html{
    font-size: 14px;
    color: #333;
}
body{
    min-width: 320px;
    min-height: 100vh;
    background-color: #fff;
    // background: -webkit-linear-gradient(left top,#f4f4f4,#efeee8);
    // background: -o-linear-gradient(bottom right,#f4f4f4,#efeee8);
    // background: -moz-linear-gradient(bottom right,#f4f4f4,#efeee8);
    // background: linear-gradient(to bottom right,#f4f4f4,#efeee8);
    &.overflow{
      overflow: hidden;
      padding-right: 17px;
  }
}

/* =================== */
/* txt */
/* =================== */

// font family
.nt-serif{
    font-family: 'Noto Serif TC',
}
.cg{
    font-family: 'Cormorant Garamond',
}


// font size
h3, h3{
    font-size: 1.8rem;
    letter-spacing: 2px;
}
h4, h4{
    font-size: 28px;
    letter-spacing: 2px;
}
h5, h5{
    font-size: 22px;
    letter-spacing: 1px;
}
h6, h6{
    font-size: 18px;
    letter-spacing: 1px;
}
.p-16{
    font-size: 16px;
    letter-spacing: 2px;
}
p, .p{
    font-size: 14px;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
}
small{
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: .5px;
}
@media screen and (max-width: 768px){
    // .p-16{
    //     font-size: 14px;
    // }
}


// font weight
.txt-mid{
    font-weight: 400;
}
.txt-bold{
    font-weight: 500;
}


/* color */
.txt-sub{
    color: #ff4f19;
}
.txt-gray{
    color: #bbb;
}
.txt-white{
    color: #fff;
    opacity: .85;
}


.lh-2{
    line-height: 2;
}

/* =================== */
/* view */
/* =================== */

/* portfolio area */
#portfolio{
    width: 100%;
}

.contant{
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    @media screen and (max-width: 768px){
        margin: 30px auto;
    }
}

.portfolio_top{
    width: 100%;
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: left;
    .title{
        max-width: 800px;
        margin-bottom: 20px;
        text-align: left;
        text-align: center;
    }
    .info{
      text-align: center;
      line-height: 2;
    }
    @media screen and (max-width: 768px){
        .info{
            line-height: 1.5;
        }
    }
}

/* work item */
.portfolio_box{
    // width: 100%;
    margin: 0 -20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
    &::before{
        content: '';
        width: 1px;
        height: 100%;
        background-color: #ddd;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center;
        display: block;
    }
    &::after{
        content: '';
        width: 50px;
        height: 1px;
        background-color: #ddd;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .item{
        width: calc(50% - 40px);
        margin: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &:hover{
            .pic{
                figure{
                    &.cover{
                        animation: ani1 16s -2.5s infinite;
                        // animation: ani2 .5s 1s both;
                    }
                }
                &::after{
                    background-color: rgba(255, 255, 255, 0);
                }
            }
        }
        .pic{
            width: 100%;
            position: relative;
            figure{
                width: 100%;
                padding-bottom: 56%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                &.cover{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                @keyframes ani1 {
                    0%{
                        opacity: 1;
                    }
                    22%{
                        opacity: 1;
                    }
                    25%{
                        opacity: 0;
                    }
                    50%{
                        opacity: 0;
                    }
                    75%{
                        opacity: 0;
                    }
                    78%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 1;
                    }
                }
                @keyframes ani2 {
                    0%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                background-color: rgba(255, 255, 255, .4);
                opacity: 1;
                transition: .3s;
            }
        }
        .text{
            width: 100%;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            user-select: none;
            // >h6{
            //     margin: 5px 0;
            // }
            .tech{
                width: 100%;
                >span{
                    width: 100%;
                    margin-top: 10px;
                    display: block;
                    position: relative;
                    &::before{
                        content: '';
                        width: 5px;
                        height: 5px;
                        margin-top: 8px;
                        margin-right: 5px;
                        border-radius: 5px;
                        background-color: $color-prime;
                        display: inline-block;
                        vertical-align: top;
                    }
                    .in{
                        width: calc(100% - 12px);
                        display: inline-block;
                        vertical-align: top;
                        opacity: .7;
                    }
                }
            }
            .info{
                margin-top: 10px;
            }
            a{
                width: 100%;
                margin-top: 15px;
                // margin: 10px 0;
                padding: 3px 10px;
                text-align: center;
                border: 1px solid #777;
                opacity: .7;
                transition: .3s;
                &:hover{
                    opacity: 1;
                    border: 1px solid $color-prime;
                    color: $color-prime;
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        margin: 0;
        padding-top: 0;
        &::before,
        &::after{
            display: none;
        }
        .item{
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 0 7px rgba(0,0,0,.2);
        }
    }
}

/* footer */
footer{
    padding: 20px 0;
    background-color: #222;
}

/* lightbox */
#side_lightbox{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
    display: none;
    &.active{
        display: flex;
        flex: 1;
    }
    &.closing{
        pointer-events: none;
        .cover{
            animation: coverAni2 .3s both;
        }
        .box{
            animation: boxAni2 .3s both;
        }
    }
    .cover{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: transparent;
        display: block;
        animation: coverAni .3s both;
    }
    .picbox{
        width: 60%;
        height: 100%;
        padding: 30px;
        overflow: auto;
        z-index: 6;
        .pic_item{
            width: 60%;
            img{
                width: 100%;
            }
        }
    }
    .box{
        width: 90%;
        max-width: 800px;
        height: 100%;
        padding: 30px;
        overflow: auto;
        background-color: #f4f4f4;
        background: -webkit-linear-gradient(left top,#f4f4f4,#efeee8);
        background: -o-linear-gradient(bottom right,#f4f4f4,#efeee8);
        background: -moz-linear-gradient(bottom right,#f4f4f4,#efeee8);
        background: linear-gradient(to bottom right,#f4f4f4,#efeee8);
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        border-radius: 15px 0 0 15px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        transform: translateX(100%);
        animation: boxAni .3s both;
        > img{
          width: 100%;
          margin: 30px 0;
          display: block;
          box-shadow: rgba(0,0,0,.5) 5px 5px 6px;
        }
        .title{
            margin: 0 10px 30px;
            h5{
                margin-bottom: 5px;
            }
            p{
              margin-bottom: 5px;
            }
            a{
                margin-top: 20px;
                display: block;
            }
            .btn{
              margin-top: 10px;
              padding: 7px 20px;
              border: 1px solid #ff4f19;
              color: #ff4f19;
              display: inline-block;
              transform-origin: center;
              transition: .2s;
              cursor: pointer;
              &:hover{
                transform: scale(1.05);
              }
            }
        }
        .lightbox_info{
            max-width: 600px;
            margin: 30px 10px;
            .info_title{
              margin-bottom: 10px;
            }
        }
    }
}
@keyframes coverAni{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: rgba(0,0,0,.6);
    }
}
@keyframes coverAni2{
    0%{
        background-color: rgba(0,0,0,.5);
    }
    100%{
        background-color: transparent;
    }
}
@keyframes boxAni{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes boxAni2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
