<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Portfolio page</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="lib/vue.js"></script>
</head>
<body>
	<section id="portfolio">
		
		<div
			v-for="(d, d_key) in dataset"
			:key="`${d_key}_data`"
			class="contant">

			<div class="portfolio_top">
				<div class="title">
					<h4 class="nt-serif txt-bold">{{d.titleZh}}</h4>
					<h5 class="txt-gray txt-mid cg">{{d.titleEn}}</h5>
				</div>
				<div class="info">
					<p
						class="p-16"
						v-html="d.info">
					</p>
				</div>
			</div>

			<div class="portfolio_box">
				<div
					v-for="(work, work_key) in d.works"
					:key="`${work_key}_work`"
					class="item">
						<div class="pic">
							<figure
								:style="{ backgroundImage: 'url(' + work.previewPicture2 + ')' }">
							</figure>
							<figure
								class="cover"
								:style="{ backgroundImage: 'url(' + work.previewPicture + ')' }">
							</figure>
						</div>
						<div class="text">
							
							<h6 class="txt-bold">
								{{work.name}}
							</h6>
							<p
								v-if="work.info"
								class="info">
								{{work.info}}
							</p>
							<p
								v-if="work.techs"
								class="tech">
								<span
									v-for="(tech, tech_key) in work.techs"
									:key="`${tech_key}_tech`">
										<span class="in">
											{{tech}}
										</span>
								</span>
							</p>
							<a
								v-if="work.url"
								:href="work.url"
								class="p"
								target="_blank"
								rel="noopener">
									Site link
							</a>
							
						</div>
				</div>
			</div>
		</div>

	</section>
	<footer>
	</footer>
</body>
<script src="js/index.js"></script>
</html>